/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Smokum&display=swap');


/* Variables from Style Tile */
:root {
  --color1 : orange;
  --color2 : brown;
  --headingFont : 'Smokum', cursive;
  --bodyFont : 'Pacifico', cursive;
}

h1 {
  font-family: var(--headingFont);
}

p {
  font-family: var(--bodyFont);
}

a:link, 
a:visited {
  color: var(--color1);
  text-decoration: none;
  
  letter-spacing: 8px;
}

a:hover, 
a:active {
  border-bottom: 4px solid var(--color1);
}

p {
  font-size: 1.25em; /* 20px ~ 1.5em */
  line-height: 1em;
}

main {
  background: var(--color2);
  border: 12px solid var(--color1);
  
  width: 50%;
  margin: 120px auto 0 auto; 
  padding: 24px;
}

audio {
  width: 100%;
}

